/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .header-menu {
        margin-left: 30px;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .menu li {
        margin-left: 28px;
    }
    .header-menu {
        margin-left: -50px;
    }
    /* .slider-content h1 {
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
    } */
    .app-img img {
        width: 100%;
    }
    .img-content h5 {
        font-size: 19px;
    }
    .img-content p {
        font-size: 16px;
    }
    .blog-img-btn {
        margin-bottom: 62px;
    }
    .about-img img {
        width: 100%;
    }
    .about-content h2 {
        margin-top: 125px;
        font-size: 55px;
    }
    .about-content p {
        font-size: 18px;
        padding-right: 85px;
    }
    .about-img {
        text-align: end;
    }
    .work-img img {
        width: 100%;
    }
    .work-contents {
        top: 300px;
        left: 245px;
    }
    .works-content p {
        font-size: 18px;
        padding-right: 0px;
    }
    .work-img {
        margin-bottom: 200px;
    }
    .works-content h2 {
        font-size: 55px;
        margin-bottom: 20px;
    }
    .company-content h2 {
        margin-top: 50px;
    }
    .company-content p {
        font-size: 20px;
        padding: 0px 190px;
    }
    .company-img img {
        width: 100%;
    }
    .company-img {
        margin-bottom: 75px;
    }
    .blogs-img img {
        width: 100%;
    }
    .blogs {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .Newsletter {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .news-content.pages p {
        font-size: 22px;
        padding-right: 100px;
    }
    .form-control-4 input {
        height: 140px;
    }
    .form-content h3 {
        font-size: 30px;
    }
    .contact-img img {
        width: 100%;
    }
    .contact-content p {
        padding: 0px 120px;
    }
    .contact-paragraph p {
        padding: 0px 337px;
    }
    .footer-social {
        margin-left: 350px;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-content h1 {
        font-size: 50px;
    }
    .slider-content p {
        font-size: 20px;
    }
    .shape img {
        width: 185%;
    }
    .sliders-content {
        top: 45%;
        left: -25%;
    }
    .slider-content p {
        padding-right: 34px;
    }
    .sliders-content {
        top: 48%;
        left: -25%;
    }
    .shape img {
        margin-bottom: 85px;
    }
    .sliders-content {
        width: 300px;
        padding: 42px 24px;
    }
    .app-img img {
        width: 100%;
    }
    .about-img img {
        width: 100%;
    }
    .about-img {
        text-align: end;
    }
    .about-content p {
        font-size: 18px;
        padding-right: 33px;
    }
    .about-content h2 {
        margin-top: 128px;
        font-size: 45px;
    }
    .about-img {
        margin-top: 105px;
    }
    .about-content h2 {
        margin-top: 70px;
    }
    .work-img img {
        width: 100%;
    }
    .works-content h2 {
        font-size: 45px;
    }
    .works-content {
        margin-top: 65px;
        margin-left: 25px;
    }
    .works-content p {
        font-size: 17px;
        color: #333;
        padding-right: 0px;
    }
    .work-contents {
        top: 235px;
        left: 100px;
    }
    .work-img {
        margin-bottom: 250px;
    }
    .company-content p {
        font-size: 22px;
        padding: 0px 52px;
    }
    .company-img img {
        width: 100%;
    }
    .company-img {
        margin-bottom: 100px;
    }
    .blogs-img img {
        width: 100%;
    }
    .blogs {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blogs-content h4 {
        font-size: 23px;

        margin-top: 20px;
    }
    .blogs-content p {
        margin-top: 0px;
    }
    .Newsletter {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .news-form {
        padding: 35px 30px;
        padding-bottom: 50px;
        border-radius: 25px;
    }
    .form-control-4 input {
        width: 100%;
        height: 125px;
    }
    .news-content.pages h2 {
        font-size: 50px;
        margin-top: 16px;
    }
    .news-content.pages p {
        font-size: 18px;
        padding-right: 40px;
    }
    .form-content h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .pages {
        margin-top: 60px;
    }
    .contact-content p {
        font-size: 22px;
        padding: 0px 38px;
    }
    .contact-content h2 {
        font-size: 45px;
    }
    .contact-img img {
        width: 100%;
    }
    .contact-paragraph p {
        font-size: 22px;
        padding: 0px 225px;
        margin-bottom: 0px;
    }
    .footer-social {
        margin-left: 226px;
    }
    .footer-img img {
        width: 100%;
    }
    .footer-img {
        bottom: -300px;
    }
    .footer-menu {
        margin-bottom: 100px;
    }



    .header-menu {
        margin-left: -190px;
    }

    /* nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    } */
    /* nav #icon{
        display: block;

    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    nav ul.show{
        left: 0;
    } */





    

}
@media (min-width: 767px) {
    #sideNav, #menuBtn{
        display: none;
    }

   }

/* small mobile :320px. */
@media (max-width: 767px) {

 .header-menu{
    display: none;
 }
 .shape{
    display: none;
}
.slider-content {
	text-align: center;
}
.slider-content h1{
    font-size: 54px;
    margin-top: 80px;
}
.slider-content p{
    font-size: 20px;
}

.btn.slider-btn {
	margin-bottom: 25px;
}
.app-img {
	text-align: center;
}
.img-content {
	margin-bottom: 35px;
}
.about-content{
    text-align: center;
}
.about-content p{
    padding-right: 0px;
}
.about-img {
	text-align: end;
}
.about-img img {
	width: 100%;
}
.about-content h2 {
	margin-top: 60px;
	font-size: 53px;	
}

.about-img {
	margin-top: 50px;
	margin-bottom: 50px;
}
.work-img img {
	width: 100%;
}
.work-contents {
	display: none;
}
.work-img {
	margin-bottom: 0;
}
.works-content {
	margin-top: 50px;
	text-align: center;
}
.works-content {
	margin-left: 0;
}
.works-content p {
	padding-right: 0;
	margin-bottom: 50px;
}
.works-content h2 {
	font-size: 55px;
	margin-bottom: 20px;
}
.company-content p {
	font-size: 20px;
	padding: 0px 0px;
}
.company-content h2 {
	font-size: 45px;
	margin-top: 50px;
}
.company-img {
	margin-bottom: 70px;
}
.blogs {
	margin-top: 50px;
	margin-bottom: 40px;
}
.blogs-content p {
	margin-bottom: 30px;
}
.blogs-content p {
	margin-top: 0px;
}
.blogs-content h4 {
	margin-top: 20px;
}
.Newsletter {
	margin-top: 0;
	margin-bottom: 50px;
}
.news-content.pages {
	text-align: center;
}
.news-content.pages p {
	font-size: 23px;
	padding-right: 0px;
	margin-bottom: 30px;
}
.news-form {
	margin-top: 50px;
}


}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
