/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .header-menu {
        margin-left: 30px;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .menu li {
        margin-left: 28px;
    }
    .header-menu {
        margin-left: -60px;
    }
    /* .slider-content h1 {
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
    } */
    .app-img img {
        width: 100%;
    }
    .img-content h5 {
        font-size: 19px;
    }
    .img-content p {
        font-size: 16px;
    }
    .blog-img-btn {
        margin-bottom: 62px;
    }
    .about-img img {
        width: 100%;
    }
    .about-content h2 {
        margin-top: 125px;
        font-size: 55px;
    }
    .about-content p {
        font-size: 18px;
        padding-right: 85px;
    }
    .about-img {
        text-align: end;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
